<aside class="col-3 border border-light bg-white p-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link mb-2" href="{{ path('admin_categories_index')}}" style="color: green;">Liste des catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-2" href="{{ path('admin_categories_add')}}" style="color: green;">Ajouter une catégorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-2" href="{{path('admin_products_index')}}" style="color: green;">Liste des produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-2" href="{{path('admin_products_add')}}" style="color: green;">Ajouter un produit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('admin_users_index')}}" style="color: green;">Liste des utilisateurs</a>
            </li>
        </ul>
    </nav>
</aside>
